/* You can add global styles to this file, and also import other style files */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, app-root {
  display: block;
  height: 100%;
}

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

@import "../node_modules/uikit/src/scss/uikit-theme.scss";

.sidenav-container {
  display: inline-block;
  height: calc(100vh - 130px);
  vertical-align: top;
}

.viewport-content-container {
  box-sizing: border-box;
  display: inline-block;
  height: calc(100vh - 130px);
  width: calc(100vw - 305px);
  vertical-align: top;
  padding: 15px;
}
